/* Top Elements */
* { margin: 0; padding: 0; outline: 0 }

html, body {
	font: 11px/165% "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
	color: #666666; 	
	margin: 0;
	padding: 0 0 50px 0;
	background: #FFFFFF;
    height: 99%;
    overflow: hidden;
    text-align: center;
}

.term-body {
    overflow: hidden;
}

#meta-container {
    width: 624px;
    height: 100%;
    overflow: auto;
}

h1, h2, h3 {
	font: bold 1em/1.5em "Trebuchet MS", Tahoma, Arial, Sans-serif;
	color: #111;
	padding: 15px 10px 5px 10px;
	margin: 0;
}

h1 {
	font-size: 345%;	
	font-weight: normal;
	letter-spacing: -2px;	
}

h2 {
	font-size: 200%;
}

#info {
    padding: 15px 0 2px 0;    
}

.site-info {
    text-align: left;
    padding: 0px 8px 15px 14px;        
}

.logo {
    font-weight: bold;
    color: #3333FF;
}

#col-one {
    min-height: 100%;
    position: relative;   
}

#news-footer {
    text-align: left;
    position: relative;
    padding-left: 15px;
    margin-top: -40px;
    height: 40px;
    clear: both;
}

.news-title {
    text-align: left;
    color: black;
    padding-bottom: 3px;
    line-height: 1.1;
    border-bottom: 2px solid #6678B1;
    margin-left: 13px;
    padding-left: 1px;
    width: 90%;
}

h3 {
	font-size: 170%;
	font-weight: normal;	
}

#content {
	float: left;
	width: 100%;
}

.post-info { 
    font-size: .95em; 
    padding-top: 3px ! important; 
    margin-left: 2px ! important;
    color: #bababa; 
    text-align: left; 
 }

.post-info span { color: #000; }

.post p, dl { 
    padding: 3px 10px 2px 14px;
    margin: 0; 
    text-align: left; 
}

.post {
    padding-bottom 12px;
}

#metadata {
    font-size: 12px;
    background: transparent;
    border-collapse: collapse;
    text-align: left;
    margin: -40px 10px 20px 20px;    
    border-spacing 2px;
    border-color: gray;
    width: 95%;
    float: left;
}

.border-hack {
    border-bottom: 1px solid #CCC;
}

#metadata tr:hover td {
    color: #222244;
}

#meta-header {
    border-bottom: 2px solid #6678B1;
}

#tbl-header {
    font-size: 14px;
    font-weight: bold;
    color: #039;
    padding: 8px;
}

#metadata td {
    font-size: 12px;
    font-weight: normal;
    border-bottom: 1px solid #CCC;
    color: #669;
    line-height: 150%;
    padding: 6px 8px;
}

.attr-row, .meta-val {
    margin-bottom: 0;
    margin-top: 0;
}

.term-title {
    font-size: 22px;
}

.term-desc {
    font-size: 16px;
    padding-right: 10px;
    padding-bottom: 20px;
    word-wrap: break-word;
}

/* Search Results */
#results-table {
    width: 100%;
    color: black;
    border: none;
    border-collapse: collapse;
    word-break: break-all;
}

#results-table caption {
    font-weight: bold;
    text-align: right;
    padding: 5px 15px;
    background: none repeat scroll 0 0 #EEE;
    border-top: 1px solid #FFFFFF;
}

#results-table th {
    background-color: #5F5F5F;
    color: #fff;
}

#results-table td, th {
    text-align: left;
    padding: 5px 0 5px 30px;
    font-size: 12px;
}

#results-table tr.search-row {
    cursor: pointer;
}

.odd {
    background-color: #e3e3e3;
}

.row-hover {
    background-color: #2E6AB1;
    color: #fff;
}

a.button{
    background:url(/media/images/button.gif);
    display:block;
    position: relative;
    color:#555555;
    font-weight:bold;
    height:30px;
    line-height:29px;
    margin: 10px 10px 14px 0;
    text-decoration:none;
    width:191px;
    float: right;
    z-index: 999999;
}
a:hover.button {
    color: #336699;
    background: url(/media/images/button-hover.png);
}

.visualize {
    background: url(/media/images/chart_organisation.png) no-repeat 10px 6px;
    display: block;
    margin: 0 25px 0 50px;
}

/* the overlayed element */
.overlay {
 
    /* must be initially hidden */
    display:none;
    
    /* place overlay on top of other elements */
    z-index:10000;
    
    /* styling */
    background-color:#333;
    
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6*/  
    height:405px;  
    width:380px;  
    background:#FFFFFF;  
    border:2px solid #cecece;  
    padding:12px;  
    font-size:13px;  
   
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}

/* default close button positioned on upper right corner */
#close_corner_button {
    background-image:url(/media/images/close.png);
    position:absolute;
    right:3px;
    top:4px;
    cursor:pointer;
    height:20px;
    width:20px;
}

#hiddenLink {
    display: none;
}

#backgroundPopup {  
    display:none;  
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6*/  
    height:100%;  
    width:100%;  
    top:0;  
    left:0;  
    background:#000000;  
    border:1px solid #cecece;  
    z-index:1;  
} 

#popupChildren h1 {  
    text-align:center;  
    color:#6FA5FD;  
    font-size:22px;  
    font-weight:700;  
    border-bottom:1px dotted #D3D3D3;  
    padding-bottom:2px;  
    margin-bottom:10px;  
    margin-left: auto;
    margin-right: auto;
    width: 86%;
} 

#children-buttons {
    margin-left: 15px;
}

#popupChildren button {
    margin-top: 12px;
}

#childrenList {
    height: 270px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#nodeFilter {
    width: 350px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

#key-arbor {
    position: absolute;
    right: 6px;
    top: 6px;
}

.search-button {
    background: #2e6ab1 url(/media/images/overlay-button.png) repeat-x;
    display: inline-block;
    height: 28px;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

.search-button:hover {
    background-color: #003A80;
    color: white;
}

#viewport {
    width: 730px;
    height: 652px;
}

#viewport.linkable {
    cursor: pointer;
}

#wrap {
    min-height: 100%;
    position: relative;
}

#main {
    overflow: auto;
    padding-bottom: 40px;
}

#results-main {
    overflow: auto;
    padding-bottom: 40px;
}

#no-results {
    font-weight: bold;
    font-size: 2.4em;
    padding-top: 15px;
}

/** Pagination styling **/
#pagination {
    position: relative;
    margin-top: -32px;
    height: 40px;
    clear: both;
}

ul { 
    border: 0;
    margin: 0;
    text-align: center
}

#pagination li {
    border: 0;
    margin: 0;
    padding: 0;
    font-style: 11px;
    list-style: none;
    margin-right: 2px;
    display: inline;
}

#pagination a {
    border: solid 1px #9aafe5;
    margin-right: 2px;
}

#pagination .previous-off,
#pagination .next-off {
    border: solid 1px #DEDEDE;
    color: #888888;
    display: inline;
    font-weight: bold;
    margin-right: 2px;
    padding: 3px 4px;
}

#pagination .next a 
#pagination .previous a {
    font-weight: bold;
}

#pagination .active {
    background: #2e6ab1;
    color: #FFFFFF;
    font-weight: bold;
    display: inline;
    padding: 4px 6px;
}

#pagination a:link,
#pagination a:visited {
    color: #0a509e;
    padding: 3px 6px;
    text-decoration: none;
}

#pagination a:hover {
    border: solid 1px #0e509e;
}

/** Slider **/
#meta-slider li {
    width: 500px;
}

#meta-slider p {
    padding-top: 20px;
    font-weight: bold;
    font: 30px;
}

.bx-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
