<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="icon" type="image/x-icon" href="/media/images/DO_favicon.ico" />

    <!-- Some conditional stylesheeting here to deal with IE madness -->
    
    <!--[if IE]>
        <link rel="stylesheet" href="/media/css/disease_ontology.ie.css" type="text/css" media="screen,projection" />
    <![endif]-->

    <!--[if !IE]><!-->
        <link rel="stylesheet" href="/media/css/disease_ontology.css" type="text/css" media="screen,projection" />
    <!--<![endif]-->
    
    <script src="/media/javascript/jquery.js" type="text/javascript"></script>
    <script src="/media/javascript/transify.js" type="text/javascript"></script>
    <script src="/media/javascript/jquery.cookie.js" type="text/javascript"></script>
    <script src="/media/javascript/disease_ontology.js" type="text/javascript"></script>

    {% if ext %}
        <link rel="stylesheet" type="text/css" href="/media/css/jquery.toChecklist.min.css" media="screen,projection" />
        <link rel="stylesheet" type="text/css" href="/media/javascript/ext/resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="/media/javascript/ext/resources/css/xtheme-gray.css" />
        <link rel="stylesheet" href="/media/css/validationEngine.jquery.css" type="text/css" media="screen,projection" />

        <script src="/media/javascript/jquery.tools.min.js" type="text/javascript"></script>
        <script src="/media/javascript/adv-search.js" type="text/javascript"></script>
        <script src="/media/javascript/luceneQueryValidator.js" type="text/javascript"></script>
        <script src="/media/javascript/jquery.validationEngine-en.js" type="text/javascript" charset="utf-8"></script>
        <script src="/media/javascript/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>

        <script src='/media/javascript/ext/adapter/ext/ext-base.js' type='text/javascript'></script>
        <script src='/media/javascript/ext/ext-all.js' type='text/javascript'></script>
        <script src='/media/javascript/ext/examples/ux/TabCloseMenu.js' type='text/javascript'></script>
        <script type="text/javascript" src="/media/javascript/disease_ontology_ext.js"></script>
        <script type="text/javascript" src="/media/javascript/ext/ux/multidom.js"></script> 
        <script type="text/javascript" src="/media/javascript/ext/ux/uxvismode.js"></script> 
        <script type="text/javascript" src="/media/javascript/ext/ux/mif.js"></script> 
        <script type="text/javascript" src="/media/javascript/ext/ux/mifmsg.js"></script> 
    {% endif %}

    <!-- Google Analytics -->
    <script type="text/javascript">

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-24894725-1']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
</head>
<body>
    <div id="ie-notifications">
        <div class="warning message">
            <h3>This browser does not support visualization of term relationships on the Disease Ontology website</h3>
            <p>Please use Chrome, Safari or Firefox when using the Disease Ontology website to unlock visualization capabaility</p>
            <img id="notification-close" alt="Close notification overlay" src="/media/images/notifications-close.png" />
        </div>
    </div>
    <div id="all-wrap">
        <!-- header starts-->
        <div id="header-wrap">    
            <div id="header-photo">
                <img src="/media/images/DO_logo.jpg" alt="Disease Ontology logo"/>
            </div>                
        
            <div  id="nav">
                <ul>
                    <li><a href="{% url home %}">Home</a></li>
                    <li><a href="{% url about %}">About</a></li>    
                    <li><a href="{% url support %}">Support</a></li>
                    <li><a href="{% url downloads %}">Downloads</a></li>
                    <li><a href="{% url links %}">Links</a></li>
                </ul>    
            </div>    

            <div id="social">
                <a href="http://www.facebook.com/pages/Disease-ontology/135542593145282"><img alt="Disease Ontology Facebook Group" src="/media/images/facebook.png"/></a>
                <a href="http://twitter.com/diseaseontology"><img alt="Disease Ontology Twitter" src="/media/images/twitter.png"/></a>
                <a href="http://www.linkedin.com/groups?gid=3078180&amp;trk=anetsrch_name"><img alt="Disease Ontology LinkedIn" src="/media/images/linkedin.png"/></a>
                <div id="trans-background"></div>
            </div>
        
        <!-- header ends here -->
        </div>

        <div id="main">

            <!-- content starts -->
            <div id="content-outer" class="clear"><div id="content-wrapper">

                <div id="content"><div class="col-one">

                    {% block content %}{% endblock %}

                </div></div>

            <!-- contents end here -->
            </div></div>
        </div>
    </div>                            
    
    <!-- footer starts here -->
    <div id="footer-wrapper">


        <div id="footer-bottom">

            <p class="bottom-left">
                &nbsp; &copy;2011 - <strong><a href="http://www.igs.umaryland.edu">Institute for Genome Sciences</a> - <a href="http://www.medschool.umaryland.edu">University of Maryland School of Medicine</a></strong> &nbsp; &nbsp;
            </p>

            <p class="bottom-right" >
                <a href="{% url home %}">Home</a> |
                <a href="{% url about %}">About</a> |
                <a href="{% url support %}">Support</a> |
                <a href="{% url downloads %}">Downloads</a> |
                <a href="{% url links %}">Links</a>
            </p>

        </div>

    </div>
    <!-- footer ends here -->

</body> 
</html>
