{% extends "base_page.html" %}
{% block content %}
    <h2>Downloads</h2>
    <p>The Disease ontology can be downloaded using one of the following methods:</p>
    
    <h3>OBO Foundry</h3>        
    <p>The OBO Foundry host a version of the Disease Ontology less than 24 hours out of date.</p>
    <code><a href="http://www.obofoundry.org/cgi-bin/detail.cgi?id=disease_ontology">http://www.obofoundry.org/cgi-bin/detail.cgi?id=disease_ontology</a></code>

    <h3>Sourceforge</h3>
    <p>The latest and most up to date version of the Disease Ontology may be obtained from our Sourceforge site.</p>
    <code>svn checkout https://diseaseontology.svn.sourceforge.net/svnroot/diseaseontology/trunk/ diseaseontology</code>

    <p>Addtionally, the ontology may be downloaded using the Sourceforge web interface:</p>
    <code><a href="https://diseaseontology.svn.sourceforge.net/svnroot/diseaseontology/trunk/">https://diseaseontology.svn.sourceforge.net/svnroot/diseaseontology/trunk/</a></code>
{% endblock %}
